{% extends 'sch/main.html' %}
{% block content %}
    {% for message in messages %}
        <p id="">{{ message }}</p>
    {% endfor %}
    <form method="POST" action="">
        {% csrf_token %}
        <div> UserName :

            <input type="text" name="username" placeholder="Username..." class="form-control"></div>
        <div> Password :

            <input type="text" name="password" placeholder="Password..." class="form-control"></div>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <p>Don't have an account?<a style="color: blue;" href="{% url 'register' %}">Register here</a></p>
{% endblock %}